html,body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	cursor: none;
}

body {
	background: url("./res/white_black_tile_min.bg.png");
}

a {
	text-decoration: none;
	color: inherit;
}

input[type="submit"] {
	display: none;
}

#ui, #stage {
	width: 100%;
	height: 100%;
}
#ui {
	font-size: 0;
}
#ui .wrap {
	display: none;
}
#ui .item {
	position: fixed;
	padding: 20px;
}
#stage .cursor {
	stroke: url(#outline);
}

#temp_menu {
	top: 0;
	left: 0;
	z-index: 3;
}
#temp_menu .selector {
	margin-left: 20px;
	background-color: #fff;
	border: 1px solid #000;
	padding: 8px;
	border-radius: 4px;
	height: 22px;
	width: 22px;
	display: inline-block;
}
body[pos="bottom"] #temp_menu .selector.col {
    position: absolute;
    top: 100%;
}
body[pos="bottom"] #temp_menu .selector.row {
    left: 0;
}
#temp_menu .selector[disabled] {
	background-color: #000;
}
#temp_menu .selector:first-child {
	margin-left: 0;
}
#temp_menu .selector.menu {
	background-image:url("./res/icon/menu.icon.svg");
	background-size: auto 22px;
	background-position: 8px center;
	background-repeat: no-repeat;
	cursor: pointer;
}
body[save_menu="1"] #temp_menu .selector {
	background-position: -36px center;
}

#tool_menu {
	display: block;
	bottom: 0;
	left: 0;
}
#tool_menu .selector {
	display: none;
	height: 40px;
	outline: 1px solid #000;
	border-radius: 100px;
}
#tool_menu .selector:active {
	outline: none;
}
body[selected="0"] #tool_menu [value="plot"],
body[selected="1"] #tool_menu [value="select"] {
	display: block;
}
body[selected="1"] {
	cursor: move;
}
body[selected="1"] .cursor {
	opacity: 0;
}
body[selected="1"][erase="1"] {
	cursor: cell;
}
body[selected="1"][erase="2"] {
	cursor: none;
}
body[selected="1"][erase="2"] .cursor {
	fill: transparent !important;
	// rx: 100%;
	opacity: 1;
}
#tool_menu .selector:first-child {
	margin-top: 0;
}

#layer_menu {
	top: 0;
	right: 0;
}

#layer_menu .layers {
	border-spacing: 0;
	overflow: hidden;
	font-size: 17px;
	height: 100%;
    border-radius: 4px;
}
#layer_menu .layers .name.title {
	color: #fff;
	text-align: center;
	font-family: monospace;
}
#layer_menu .layers .name {
	font-size: inherit;
	padding: 0;
	position: relative;
	height: 0;
    background-color: #ccc;
    cursor: default;
}
#layer_menu .layers .desc {
	font-family: sans-serif;
}
#layer_menu .layers .desc::before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 4px;
	height: 100%;
	background-color: #000;
	z-index: 3;
}
#layer_menu .layers .name.title .value {
	display: block;
	resize: none;
	padding: 10px 9.5px;
	margin: 0;
	border: none;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
	text-align: inherit;
	font-size: inherit;
	min-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
    background-color: #000;
    border-radius: 4px;
}
#layer_menu .layers .name .selector::before {
    content: url(./res/icon/vellip.icon.svg);
	position: absolute;
	top: -1px;
	left: 0;
	height: 100%;
}
#layer_button .placeholder,
#layer_menu .layers .name .selector {
	margin: 0;
	padding: 8px 16px 8px 20px;
	text-wrap: nowrap;
	min-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 4px 0 0 4px;
	margin-left: 33%;
	width: 0;
	z-index: 1;
	display: block;
	top: 0;
	left: 0;
	position: relative;
	font-size: 20px;
	overflow: hidden;
	height: 40px;
}
#layer_menu .layers .name .selector {
	position: absolute;
}
#layer_menu .layers .name .selector .value {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    display: inline;
    padding: 0;
    margin: 0;
}
#layer_menu[selected="0"] .layers .name .selector {
	
}
#layer_menu[selected="1"] .layers .name.title {
	padding-bottom: 20px;
}
#layer_menu[selected="1"] .layers .foot {
	padding-top: 20px;
}
#layer_menu[selected="0"] .layers .foot {
	z-index: 4;
}
#layer_menu[selected="0"] .layers .foot .overlay {
	background-position: top center;
}
#layer_menu .layers .foot {
	padding-top: 0;
}
#layer_menu .layers .foot .overlay {
	display: block;
	height: 36px;
	border: 2px outset #008000;
	border-radius: 4px;
	background-color: #fff;
	background-image: url("./res/icon/collapse.icon.svg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 36px auto;
}
#layer_button {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
}
#layer_menu[selected="1"] #layer_button {
	position: relative;
}
#layer_button .placeholder {
	cursor: inherit;
}

body[pos="left"] #resize_menu {
	left: 0;
	top: 25%;
	height: 50%;
	width: 0;
	padding: 0 20px;
}
body[pos="bottom"] #resize_menu {
	bottom: 0;
	left: 25%;
	width: 50%;
	height: 0;
	padding: 20px 0;
}
#resize_menu .selector {
	position: absolute;
	background-color: #fff;
	display: inline-block;
	border: 2px outset #008000;
	overflow: hidden;
	width: 36px;
	height: 36px;
	margin-top: -20px;
	z-index: 2;
}
#resize_menu .selector input {
	display: block;
	background-color: transparent;
	resize: none;
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	cursor: pointer;
	font-size: 7pt;
}
body[pos="left"] #resize_menu .selector {
	left: 0;
	margin-left: 20px;
}
body[pos="bottom"] #resize_menu .selector {
	top: 0;
	margin-left: -20px;
}
#resize_menu .bg {			
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: #ccc;
	z-index: 1;
	font-size: 0;
}
body[pos="left"] #resize_menu .bg {
	padding: 20px 0;
	margin-top: -20px;
	left: 20px;
	top: 0px;
}
body[pos="bottom"] #resize_menu .bg {			
	padding: 0 20px;
	margin-left: -20px;
	bottom: 20px;
	left: 0;
}
body[pos="left"] #resize_menu .selector.begin,
body[pos="left"] #resize_menu .selector.end,
body[pos="bottom"] #resize_menu .selector.begin,
body[pos="bottom"] #resize_menu .selector.end {
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
    background-size: 33%;
}
body[pos="left"] #resize_menu .selector.begin {
	background-image: url("./res/icon/up.icon.svg");
	bottom: 100%;
	border-radius: 4px 4px 0 0;
	margin-bottom: 20px;
}
body[pos="left"] #resize_menu .selector.end {
	background-image: url("./res/icon/down.icon.svg");
	top: 100%;
	border-radius: 0 0 4px 4px;
	margin-top: 20px;
}
body[pos="bottom"] #resize_menu .selector.begin {
	background-image: url("./res/icon/left.icon.svg");
	right: 100%;
	border-radius: 4px 0 0 4px;
	margin-right: 20px;
}
body[pos="bottom"] #resize_menu .selector.end {
	background-image: url("./res/icon/right.icon.svg");
	left: 100%;
	border-radius: 0 4px 4px 0;
	margin-left: 20px;
}

#erase_menu,
#color_menu {
	position: relative;
	bottom: 0;
	right: 0;
}
body[pos="bottom"] #tool_menu,
body[pos="bottom"] #erase_menu,
body[pos="bottom"] #color_menu {
	bottom: 60px;
}
#erase_menu .outline,
#erase_menu img {
	cursor: pointer;
	width: 40px;
}
#color_menu input {
	cursor: pointer;
	height: 40px;
	width: 40px;
}
body[selected="0"] #erase_menu,
body[selected="1"] #color_menu {
	display: none;
}
#erase_menu .container {
	position: relative;
	outline: 1px solid #999;
	background-color: #fff;
}
#erase_menu .outline {
	outline: 2px outset #008000;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	padding: 0 1px;
	border-radius: 1px;
	margin-left: -1px;
}

body[save_menu="1"] .cursor {
	display: none;
}
body[save_menu="1"] #popup_menu {
	display: table;
}
body[save_menu="1"] #temp_menu,
body[save_menu="1"] #popup_menu {
	cursor: default;
}
#popup_menu {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0 !important;
	z-index: 2;
	background-color: #0008;
	cursor: default;
	display: none;
	border-spacing: 0;
}
body[pos="bottom"] #popup_menu .header {
	height: 120px;
}
#popup_menu .header {
	height: 60px;
	padding: 0;
}
#popup_menu .container {
	position: relative;
	padding: 20px;
}
#popup_menu .container .selector {
	padding: 4vmin;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: monospace;
	letter-spacing: 1px;
	margin: 0px;
	border: none;
	outline: rgb(0, 0, 0) solid 1px;
	font-size: 4vmin;
	display: block;
	resize: none;
	width: 100%;
	height: 100%;
    -moz-user-select: auto;
    user-select: auto;
}

body[selected="1"] #swatches.item {
	display: none;
}
#swatches.item {
	right: 80px;
	bottom: 0;
	height: 40px;
	z-index: 2;
	padding-right: 0;
    margin-right: -15px;
}
body[pos="bottom"] #swatches {
	bottom: 60px;
}
#swatches .container:after {
	content: "";
    width: 100%;
    display: inline-block;
}
#swatches .container {
	position: relative;
	width: 100%;
	height: 40px;
	text-align: justify;
	width: 200px;
	padding: 0 5px;
}
#swatches .container .selector {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#swatches[active="0"] .container .color {
	bottom: 0 !important;
}
#swatches[active] .container .color {
	bottom: 5px;
}
#swatches[active="1"] .container :nth-child(2),
#swatches[active="2"] .container :nth-child(3),
#swatches[active="3"] .container :nth-child(4),
#swatches[active="4"] .container :nth-child(5),
#swatches[active="5"] .container :nth-child(6) {
	outline: 1px outset #000;
	height: 100%;
	bottom: 0;
	margin-top: 0;
    margin-right: -5px;
    margin-left: -5px;
}
#swatches .container .color {
	display: inline-block;
	height: 30px;
	position: relative;
	margin-top: 5px;
	z-index: 1;
	outline: 1px solid #999;
}
